<div class="col-xs-12">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ip</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cannon in csCtrl.cannonScene.cannons">
                <td>
                    <input ng-model="cannon.name" class="form-control" placeholder="Informe o Nome"
                    ng-readonly="csCtrl.tabDelete"/>
                </td>
                <td>
                    <input ng-model="cannon.ip" class="form-control" placeholder="Informe o Ip"
                    ng-readonly="csCtrl.tabDelete"/>
                </td>
                <td class="table-actions">
                    <button class="btn btn-success" ng-disabled="csCtrl.tabDelete"  ng-click="csCtrl.addCannon($index)"> 
                        <i class="fa fa-plus"></i></button>
                    <button class="btn btn-warning" ng-disabled="csCtrl.tabDelete"  ng-click="csCtrl.cloneCannon($index, cannon)"> 
                        <i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger" ng-disabled="csCtrl.tabDelete"  ng-click="csCtrl.deleteCannon($index)"> 
                        <i class="fa fa-trash-o"></i></button>                    
                </td>
                <td>
                    <legend>Parâmetros</legend>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Canal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="param in cannon.params">
                                <td>
                                    <input ng-model="param.name" class="form-control" placeholder="Informe o Nome"
                                    ng-readonly="csCtrl.tabDelete"/>
                                </td>
                                <td>
                                    <input ng-model="param.channel" class="form-control" placeholder="Informe o Canal"
                                    ng-readonly="csCtrl.tabDelete" type="number"/>
                                </td>
                                <td>
                                    <input ng-model="param.value" class="form-control" placeholder="Informe o Valor"
                                    ng-readonly="csCtrl.tabDelete" type="number"/>
                                </td>
                                <td class="table-actions">
                                    <button class="btn btn-success" ng-disabled="csCtrl.tabDelete"  ng-click="csCtrl.addParam($parent.$index, $index, param)"> 
                                        <i class="fa fa-plus"></i></button>
                                    <button class="btn btn-warning" ng-disabled="csCtrl.tabDelete"  ng-click="csCtrl.cloneParam($parent.$index, $index, param)"> 
                                        <i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-danger" ng-disabled="csCtrl.tabDelete"  ng-click="csCtrl.deleteParam($parent.$index, $index)"> 
                                        <i class="fa fa-trash-o"></i></button>                    
                                </td>    
                            </tr>
                        </tbody>
                    </table>
                </td>    
            </tr>
        </tbody>
    </table>
</div>