<content-header name="Dashboard" small="Versão {{ consts.version }}"></content-header>
<section class="content" ng-controller="DashboardCtrl as dashboard">

   <div role = "form" >
      <div class="box box-solid box-primary">
          <div class="box-header">
              <h3 class="box-title">Painel de Controle - Canhões de Luz {{count}}</h3>
                
              <div class="box-tools">
                  <button type="button" class="btn btn-block btn-primary" ng-click="dashboard.luz()">Ligar MH</button>
              </div>
            </div>
         <div class="box-body">
            <table class="table" >
               <tbody>
                  <tr>
                     <th>Nome Cena</th>
                     <th>Descrição</th>
                  </tr>
                  <tr ng-repeat="cannonScene in dashboard.cannonScenes">
                     <td>{{:: cannonScene.name }}</td>
                     <td>{{:: cannonScene.desc }}</td>
                     <td>
                        <table>
                           <tbody>
                              <tr>
                                 <th style="width:140px">Nome Canhão</th>
                                 <th style="width:140px">Ip</th>
                              </tr>
                              <tr ng-repeat="cannon in cannonScene.cannons">
                                 <td>{{:: cannon.name }}</td>
                                 <td>{{:: cannon.ip }}</td>
                                 <td>
                                    <table>
                                       <tbody>
                                          <tr>
                                             <th style="width:140px">Nome Parametro</th>
                                             <th style="width:140px">Canal</th>
                                             <th style="width:300px">Valor</th>
                                          </tr>
                                          <tr ng-repeat="param in cannon.params">
                                            <td ng-if="param.channel === 1 || param.channel === 3 || param.channel === 8">{{:: param.name }}</td>
                                            <td ng-if="param.channel === 1 || param.channel === 3 || param.channel === 8">{{:: param.channel }}</td>
                                            <td ng-if="param.channel === 1 || param.channel === 3 || param.channel === 8">
                                                <input type="text" id="amount{{:: param._id }}" readonly style="border:0; color:#0a0908; font-weight:bold;" />
                                                <div class="selector" id="{{:: param._id }}" ng-model="param.value" > {{dashboard.valorSlider}}</div> 
                                            </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                     <td><button type="button" class="btn btn-block btn-primary" ng-click="dashboard.enviarCena(cannonScene)">Enviar Cena</button></td>
                     <td><button type="button" class="btn btn-block btn-success" ng-click="dashboard.salvarCena(cannonScene)">Salvar Cena</button></td>
                     
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</section>
